.form {
    width: 400px;
    margin: 20px auto;
}
.form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form button {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px;
    border: 4px outset rgba(213, 3, 255, 0.71);
    border-radius: 5px;
    transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1), border 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.form button:hover,
.form button:focus {
    transform: scale(1.05);
    border: 4px outset rgba(235, 137, 255, 0.71);
}
.form input {
    padding-left: 10px;
    height: 25px;
    border: 3px outset rgba(123, 34, 191, 0.85);
    border-radius: 5px;
}
.form p {
    margin-bottom: 5px;
    font-weight: 600;
}